/venv
/api/__pycache__
/api/main/__pycache__
/api/main/controller/__pycache__
/api/main/model/__pycache__
/api/main/service/__pycache__
/api/main/util/__pycache__
oracle-instantclient19.5-basiclite-19.5.0.0.0-1.x86_64.rpm
